/* This is a CSS file */

/**/
.header{
  background-color: darkred;
  margin-bottom: 10px;
}
#titulo{
  color: white;
  font-family: cursive;
  text-align: center;
}
.menu ul, li{
   display: inline;
  font-size: 120%;
 }
 .menu ul{
    padding: 0px;
 }
 .menu ul, li, a:hover{
     text-decoration: none;
     color: darkred;
}
.menu ul, li, a{
  color:black;
}
.footer{
  
  background-color: darkred;
}
#links a{
  color: white;  
}
.footer ul{
  padding-top: 7px;
  
}
.footer li{
  border-bottom: 1px solid white;  
  margin-left: 10px;
}
p{
  text-align: justify;
}
.menu{
  text-align: center;

}
.social{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  }
   button{
    box-shadow: 3px 4px 8px -2px rgba(139,0,0,1);
}
